body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left;
  padding-top: 25px; }

.logo_bg {
  background-color: #fff;
  z-index: 100;
  padding: 10px;
  height: 125px;
  width: 202px;
  top: -25px;
  border-radius: 77%/27%;
  position: absolute;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px; }

.mnu_menu {
  float: right;
  z-index: 100;
  position: relative; }
  .mnu_menu ul {
    display: inline-block; }
    .mnu_menu ul li {
      display: inline-block;
      padding: 0 9px;
      font-size: 22px;
      font-family: "Helvetica", sans-serif;
      font-weight: normal; }
      .mnu_menu ul li a:hover {
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        color: #c79825;
        text-decoration: underline; }

.mnu_menu_button {
  font-size: 29px;
  display: block; }

ul .en a {
  padding: 15px 0 0 27px;
  font-size: 23px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal; }

.title_head,
.min_title_head,
.button_head {
  z-index: 50;
  position: relative; }

.title_head {
  float: right;
  margin-top: 50px;
  margin-right: 10px; }
  .title_head h1 {
    font-size: 41px; }
    .title_head h1 span {
      margin-left: 100px; }

.min_title_head {
  float: right;
  padding: 0 12px; }
  .min_title_head h2 {
    font-size: 24px; }

.button_head {
  margin-top: 65px;
  margin-right: -54px;
  float: right;
  padding: 0 230px; }

.button_click {
  border: 3px solid #5b5b5b;
  padding: 10px; }
  .button_click a {
    font-size: 22px;
    font-weight: bold; }
  .button_click:hover {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }

section {
  padding: 60px 0; }
  section h2 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase; }

.content_item {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }
  .content_item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .content_item img {
    width: 100%; }
  .content_item h3 {
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    margin-top: 40px; }
  .content_item p {
    text-align: center;
    padding: 10px 0 30px 0; }

.s_servises h2,
.s_company h2,
.s_order h2 {
  margin-bottom: 50px; }

.left_comp {
  background-color: #fff; }
  .left_comp:hover {
    background-color: #f5f1f1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  .left_comp .comp_img {
    text-align: center; }
    .left_comp .comp_img img {
      width: 90%; }
  .left_comp h3 {
    padding: 15px;
    background-color: #c79e54;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    color: #fff; }
  .left_comp p {
    text-align: center;
    padding: 20px 45px 30px 45px; }

.right_comp {
  margin-top: 75px;
  background-color: #fff; }
  .right_comp:hover {
    background-color: #f5f1f1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  .right_comp .right_img img {
    text-align: center;
    margin: 15px; }
  .right_comp h3 {
    padding: 15px 0;
    background-color: #c79e54;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 5px; }
    .right_comp h3:hover {
      background-color: #e0be82;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }

.section_left h3 {
  text-transform: uppercase; }

.left_two {
  margin-top: 40px; }
  .left_two i {
    background-color: #a9a9a9;
    color: #fff;
    border-radius: 50%;
    padding: 9px; }
  .left_two ul li {
    list-style-type: none;
    margin-bottom: 10px;
    color: #a9a9a9; }
  .left_two .addres_text {
    margin-top: -44px;
    margin-left: 15px;
    margin-bottom: 30px; }

i.fa.fa-map-marker {
  padding: 9px 10px; }

.main_form button {
  width: 100%;
  margin-top: 20px;
  background-color: #c79927;
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px; }
  .main_form button:hover {
    background-color: #d0aa66;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
.main_form textarea {
  width: 100%;
  height: 170px;
  border: none;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset; }
.main_form input[type="text"],
.main_form input[type="email"] {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  padding: 11px;
  margin-bottom: 20px;
  font-size: 12px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset; }
.main_form .color_element {
  text-transform: uppercase;
  color: #797979;
  font-weight: bold;
  font-size: 12px; }

.form-group {
  display: block; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-indent: 5px; }

.about_news {
  background-color: #111111; }

.join_uor {
  text-align: center; }
  .join_uor input[type="email"] {
    background-color: #343434;
    border: none;
    border-radius: 2px;
    padding: 12px;
    width: 40%; }
  .join_uor input[placeholder="email"] {
    color: #fff; }
  .join_uor button {
    background-color: #c89a25;
    border: none;
    border-radius: 2px;
    padding: 12px 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px; }
  .join_uor h4 {
    text-transform: uppercase;
    color: #fff; }

.keep_update {
  text-align: center; }
  .keep_update h4 {
    text-transform: uppercase;
    color: #fff;
    margin-left: 20px; }
  .keep_update ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .keep_update ul li {
      margin-left: 20px;
      font-size: 28px;
      color: #fff; }
      .keep_update ul li:hover {
        color: #c1c1c1;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }

.main_footer {
  display: block;
  background-color: #222222;
  width: 100%;
  height: 60px; }

.copyright p {
  margin-top: 25px; }
.copyright .top_scroll {
  float: right;
  margin-top: -80px; }
