body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left;
  padding-top: 25px; }

.logo_bg {
  z-index: 100;
  padding: 10px;
  height: 125px;
  width: 202px;
  top: -25px;
  border-radius: 77%/27%;
  position: absolute;
  box-shadow: 0 0 5px; }

.mnu_menu {
  float: right;
  z-index: 100;
  position: relative; }
  .mnu_menu ul {
    display: inline-block; }
    .mnu_menu ul li {
      display: inline-block;
      padding: 0 9px;
      font-size: 22px;
      font-family: "Helvetica", sans-serif;
      font-weight: normal; }
      .mnu_menu ul li a:hover {
        -webkit-transition: 0.5s ease;
                transition: 0.5s ease;
        text-decoration: underline; }

.mnu_menu_button {
  font-size: 29px;
  display: block; }

ul .en a {
  padding: 15px 0 0 27px;
  font-size: 23px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal; }

.title_head,
.min_title_head,
.button_head {
  z-index: 50;
  position: relative; }

.button_head {
  margin-top: 100px;
  float: left;
  margin-left: 645px; }

a.popup_content {
  padding: 15px;
  border: 2px solid #5b5b5b;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal; }
  a.popup_content:hover {
    -webkit-transition: 0.5s;
            transition: 0.5s; }

.title_head {
  float: right;
  margin-top: 50px;
  margin-right: 10px; }
  .title_head h1 {
    font-size: 41px; }
    .title_head h1 span {
      margin-left: 100px; }

.min_title_head {
  float: right;
  padding: 0 12px; }
  .min_title_head h2 {
    font-size: 24px; }

section {
  padding: 30px 0; }
  section h2 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase; }

.content_item {
  -webkit-transition: all 1s ease-out;
          transition: all 1s ease-out; }
  .content_item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .content_item img {
    width: 100%; }
  .content_item h3 {
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    margin-top: 40px; }
  .content_item p {
    text-align: center;
    padding: 10px 0 30px 0; }

.s_servises h2,
.s_company h2,
.s_order h2 {
  margin-bottom: 50px; }

.left_comp:hover {
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease; }
.left_comp .comp_img {
  text-align: center; }
  .left_comp .comp_img img {
    width: 90%; }
.left_comp h3 {
  padding: 15px;
  text-align: center;
  font-size: 23px;
  text-transform: uppercase; }
.left_comp p {
  text-align: center;
  padding: 20px 45px 30px 45px; }

.right_comp {
  margin-top: 75px; }
  .right_comp:hover {
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease; }
  .right_comp .right_img img {
    text-align: center;
    margin: 15px; }
  .right_comp h3 {
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px; }
    .right_comp h3:hover {
      -webkit-transition: 0.5s ease;
              transition: 0.5s ease; }

.section_left h3 {
  text-transform: uppercase; }

.left_two {
  margin-top: 40px; }
  .left_two i {
    border-radius: 50%;
    padding: 9px; }
  .left_two ul li {
    list-style-type: none;
    margin-bottom: 10px; }
  .left_two .addres_text {
    margin-top: -44px;
    margin-left: 15px;
    margin-bottom: 30px; }

i.fa.fa-map-marker {
  padding: 9px 10px; }

.main_form button {
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px; }
  .main_form button:hover {
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease; }
.main_form textarea {
  width: 100%;
  height: 170px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset; }
.main_form input[type="text"],
.main_form input[type="email"] {
  border: none;
  width: 100%;
  padding: 11px;
  margin-bottom: 20px;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset; }
.main_form .color_element {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

.form-group {
  display: block; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-indent: 5px; }

.about_news {
  margin-top: -35px; }

.join_uor {
  text-align: center; }
  .join_uor input[type="email"] {
    border: none;
    border-radius: 2px;
    padding: 12px;
    width: 40%; }
  .join_uor button {
    border: none;
    border-radius: 2px;
    padding: 12px 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px; }
  .join_uor h4 {
    text-transform: uppercase; }

.keep_update {
  text-align: center; }
  .keep_update h4 {
    text-transform: uppercase;
    margin-left: 20px; }
  .keep_update ul {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .keep_update ul li {
      margin-left: 20px;
      font-size: 28px;
      cursor: pointer; }
      .keep_update ul li:hover {
        -webkit-transition: 0.5s ease;
                transition: 0.5s ease; }

.main_footer {
  display: block;
  width: 100%;
  height: 60px; }

.copyright p {
  margin-top: 25px; }
.copyright .top_scroll {
  float: right;
  margin-top: -76px; }
  .copyright .top_scroll button.top_button {
    border: none;
    background: transparent;
    border-radius: 13px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
    .copyright .top_scroll button.top_button i {
      font-size: 40px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      padding: 4px; }

.section_map iframe {
  width: 100%;
  height: 250px; }

.port_descr {
  display: block;
  width: 300px;
  height: 237px;
  position: absolute;
  text-align: center;
  float: left;
  margin-left: 540px;
  top: -110px; }
  .port_descr input[type="text"] {
    width: 80%;
    border: none;
    padding: 7px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-indent: 5px;
    border-radius: 2px; }
  .port_descr form button {
    padding: 5px 10px;
    border: none;
    font-size: 17px;
    text-indent: uppercase;
    text-transform: uppercase; }
