@import "../bourbon/bourbon"

$color: #5b5b5b //Theme skin
$text_color: #888
$main_color: #222
$bg_light: #c79e54
$bg_green: #f8faf9
$bg_red: #e72424

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)

a
	color: $color

p
	color: $text_color

h2
	color: $color

.color_element
	color: $color
.color_bg
	background-color: $color
.color_border
	border-color: $color

svg
	height: 75px
	width: 180px
	z-index: 100
	position: relative
	path
		fill: $main_color

.en 
	color: $color 	

.mnu_menu 
	a
		+kerning(2)

.title_head 
	h1
		color: $bg_light

.min_title_head
	h2
		color: $color		

.button_click
	&:hover
		background-color: #ccc	

.content_item 
	background-color: #f7f5f6

.content_item 
	h3
		color: $bg_light

.bg_greens
	background-color: $bg_green	

.text-danger
	color: $bg_red

form
	input:focus,
		textarea:focus
			border: 1px solid $bg_red
		button
			background-color: $bg_red
			border: none
			color: #fff

.contact_company 
	ul
		li
			color: #c79927				

		
.loader_inner
.logo_bg 
	background-color: #fff		

a.popup_content
	&:hover
		background-color: #b7b3b3
		color: #fff

.left_comp
	background-color: #fff		
	&:hover
		background-color: #f5f1f1
	h3 
		background-color: #c79e5	
		color: #fff

.right_comp 
	background-color: #fff
	&:hover
		background-color: #f5f1f1
	h3 
		background-color: #c79e54
		color: #fff		
		&:hover
			background-color: #e0be82

.left_two
	i
		background-color: #a9a9a9	
		color: #fff		
	ul
		li
			color: #a9a9a9

.main_form
	button 
		background-color: #c79927
		color: #fff
		&:hover
			background-color: #d0aa66
	textarea
		background-color: #f2f2f2	
	input[type="text"],
	input[type="email"]
		background-color: #f2f2f2
	.color_element 
		color: #797979

.about_news
	background-color: #111111

.join_uor
	text-align: center
	input[type="email"]
		background-color: #343434
	input[placeholder="email"]	
		color: #fff
	button
		background-color: #c89a25
		color: #fff
	h4	
		color: #fff		

.keep_update
	h4	
		color: #fff		
	ul
		li
			color: #fff	
			&:hover
				color: #c1c1c1

.main_footer
	background-color: #222222				

.copyright	
	.top_scroll
		button.top_button
			background: #222222
			i
				color: #fff		

.port_descr
	background-color: #fff
	h3
		color: #5b5b5b
	form	
		button
			background-color: #5b5b5b
			color: #fff
			
.mnu_menu 
	ul
		li
			a
				&:hover
					color: #c79825


				


	



